.main-container {
    overflow: auto;

    margin-top: 80px;
    margin-bottom: 80px;
    padding: 35px;
    -webkit-border-radius: 2px 6px 6px;
    border-radius: 2px 6px 6px;
    background: #fff;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.25);
    box-shadow: 0 3px 20px rgba(0,0,0,.25);

    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.photo-card {
    width: 23.1%;
    display: inline-block;
    vertical-align: top;
    margin: 15px 10px 15px 10px;
    min-width: 0;
    word-wrap: break-word;
    background-color:wheat;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.photo-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem + 1px);
    border-top-right-radius: calc(.25rem + 1px);
    opacity:1;
    transition:opacity 1.0s ease-in;
}

.hidden {
    opacity: 0;
}

@media (min-width: 1200px) {
    .main-container {
        max-width: 1180px;
    }
}
    
@media (max-width: 1200px) {
    .main-container {
        max-width: 940px;
    }

    .photo-card {
        width: 30.9%;
    }
}

@media (max-width: 992px) {
    .main-container {
        max-width: 730px;
    }

    .photo-card {
        width: 30.2%;
    }
}

@media (max-width: 768px) {
    .main-container {
        max-width: 570px;
    }

    .photo-card {
        width: 45.8%;
    }
}

@media (max-width: 576px) {
    .main-container {
        max-width: 540px;
    }

    .photo-card {
        width: 100%;
        margin: auto;
    }
}

.photo-body {
    padding: 1.25rem;
}

.photo-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem + 1px);
    border-top-right-radius: calc(.25rem + 1px);
}

.photo-title, h1 {
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

.photo-title {
    font-size: 1.25rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.section-tab {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.section-tab > li {
    border-radius: 20px;
    background: lavender;
    padding: 3px 15px 3px 15px;
    margin-left: 10px;
    margin-bottom: 9px;
    border: 2px solid lightgray;
}

.section-tab > li > a:hover {
    text-decoration: none;
    transition: 1s;
}

.active {
    background: lightblue !important;
}